.panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
  }
  
  .panel p {
    margin: 5px 0;
  }
  
  